name: Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  plugin_test:
    name: asdf plugin test
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
        version:
          - 5.4.8
          - 5.5.0
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - name: asdf_plugin_test
        uses: asdf-vm/actions/plugin-test@v4
        with:
          command: lua -v
          version: ${{ matrix.version }}
